<nav class="navbar navbar-expand-md border-botttom sticky-top">
    <div class="container-fluid">

        <div class="logo">
            <a class="navbar-brand logo-img" href="/listings"><img src="/assets/ArcadiaLuxe.jpg" alt="AL"></a>
            <a class="nav-link logo-name" href="/listings">ReWear</a>
        </div>

        <div class="navbar-nav search-container">
            <form class="d-flex" role="search" action="/listings" method="GET">
                <input class="form-control me-2 search-input" id="search-input" name="query" type="search" placeholder="Search Categories" aria-label="Search" required>
                <button class="btn search-btn" type="submit">
                    <img width="25" height="25" src="https://img.icons8.com/stencil/32/search.png" alt="search" />
                    <p class="search">Search</p>
                </button>
            </form>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav login-functions">
                <a class="nav-link" href="/listings/new">Offer your fashion</a>

                <!-- --------------currUser------------------ -->
                <% if (!currUser) { %>
                    <a class="nav-link" href="/login">
                        <button class="btn btn-light login-btn">
                            <img width="32" height="32" src="https://img.icons8.com/fluency/48/menu--v1.png" alt="menu--v1" />
                            <img width="32" height="32" src="https://img.icons8.com/pulsar-gradient/48/user.png" alt="user" />
                        </button>
                    </a>
                <% } else { %>
                    <a class="nav-link" href="/user/dashboard">
                        <button class="btn dashboard-btn">
                            <span><%= currUser.username[0] %>&nbsp;&nbsp;</span>
                            <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/user-male-circle.png" alt="dashboard" />
                        </button>
                    </a>
                <% } %>
                <!-- ----------done---------------- -->
            </div>
        </div>
    </div>
</nav>

<script>
    const placeholders = [
        "T-Shirts",
        "Jeans",
        "Winter Wear",
        "Jackets",
        "Party Wear"
    ];

    let index = 0;
    const searchInput = document.getElementById('search-input');

    function changePlaceholder() {
        searchInput.placeholder = placeholders[index];
        index = (index + 1) % placeholders.length;
    }

    setInterval(changePlaceholder, 2000);
</script>
